/* Add Global styles here */
body {
    background-color: #F7E7CE;
    margin-left: 30px
    
}

h1 {
    margin-bottom: 30px;
    font-size: 35px
}

#intro {
    margin-bottom: 50px;
}

h2 {
    font-size: 25px
}

#msg {
    margin-bottom: 20px
}

#name {
    margin-bottom: 10px
}

h3 {
    font-size: 22px;
}

h4 {
    margin-bottom: 40px;
    font-size: 20px
}

#nextQuestion {
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.radio-button .radio { 
    padding: 10px; 
}

.radio-button .dot { 
    padding: 8px; 
}