
body {
    margin-left: 30px;
    background-color: #ADD8E6;
     font-family:Georgia, 'Times New Roman', Times, serif
}

#q {
    cursor: pointer;
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
    background-color: #629bad;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border-left: 3px double rgb(0, 0, 0);
    border-right: 3px double rgb(0, 0, 0);
    border-top: 3px double rgb(0, 0, 0);
    border-bottom: 3px double rgb(0, 0, 0);
    border-style: double;
    border: 6px groove ff9dce;

}

#startBtn {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #629bad;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
}

#startBtn:hover {
    background-color: #4a7a8c;
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
}

.nextBtn {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #629bad;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
 font-family:Georgia, 'Times New Roman', Times, serif
}
.nextBtn:hover {
    background-color: #4a7a8c;
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
}
#intro {
    margin-bottom: 50px;
}

h2 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
      color: #000000
}

#msg {
    margin-bottom: 20px
}

#name {
    margin-bottom: 10px
}

h3 {
    font-size: 22px;
    color: #000000
}

h4 {
    margin-bottom: 40px;
    font-size: 20px;
    color: #000000
   
}

.question {
    display: none;
}

#q1 {
    display: block;
}

#page {
    background-color: white;
    color: black;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     border-left: 3px double rgb(0, 0, 0);
    border-right: 3px double rgb(0, 0, 0);
    border-top: 3px double rgb(0, 0, 0);
    border-bottom: 3px double rgb(0, 0, 0);
}

#submit {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #629bad;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
}
#submit:hover {
    background-color: #4a7a8c;
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
}

#result {
    display: none;
    color: black;
}

#restart {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #629bad;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.dark-mode {
    background-color: #000000;
    color: white;
    #page {
        background-color:rgb(61, 59, 59);
        color: white;
    }
    #body {
        color: white;
    }
    h1 {
        background-color: #292929;
        color: white;
        border-color: white;
    }
    #darkModeBtn {
        background-color: #292929;
        color: white;
        border-color: white;
    }
   #darkModeBtn:hover {
        background-color: #0f0f0f;
        box-shadow: 10px 10px 5px 2px rgba(255, 255, 255, 0.3);
    }
    #startBtn {
        background-color: #292929;
        color: white;
        border-color: white;
    }
    #startBtn:hover {
        background-color: #0f0f0f;
        box-shadow: 10px 10px 5px 2px rgba(255, 255, 255, 0.3);
    }
    .nextBtn {
        background-color: #292929;
        color: white;
        border-color: white;        
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }
    h4 {
        color: white;
    }
    #submit {
        background-color: #292929;
        color: white;
        border-color: white;        
    }
     #submit:hover {
        background-color: #0f0f0f;
        box-shadow: 10px 10px 5px 2px rgba(255, 255, 255, 255, 0.3);
    }
    #restart {
        background-color: #292929;
        color: white;
        border-color: white;        
    }
     #restart:hover {
        background-color: #0f0f0f;
        box-shadow: 10px 10px 5px 2px rgba(255, 255, 255, 255, 0.3);
    }   
}

.dark-mode input,
.dark-mode button {
    background-color: #333;
    color: white;
    border: 1 px solid #777;
}

#darkModeBtn {
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #629bad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
     font-family:Georgia, 'Times New Roman', Times, serif

}

#darkModeBtn:hover {
    background-color: #4a7a8c;
     box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
}
